:root {
    font-size: 12;
    color: #f37272;
    background-color: #ffffff;
}

h1 {
    font-family: "Playfair Display", sans-serif;
    font-size: 50px;
    border-bottom: 5px #f3bb72 dotted;
}

hr {
    color: #f37272;
}

p {
    font-family: 'Lora', sans-serif;
    line-height: 1.2rem;
}
em {
    font-family: 'Lora', serif;
}

.profile-image {
    border-radius: 50%;
}

button {
    border-radius: 5px;
}

.boxContainer {
    border-radius: 10px;
    background-color: #aeecc8c4;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    align-items: center;
    margin: auto;
    width: fit-content;
}
#navbar {
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    background-color: #4eaa4e;
}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}

nav li {
    display: inline;
    margin-right: 20px;
}
a:link, a:visited {
    color: rebeccapurple;
    font-weight: bold;
}

a:hover {
    color:hotpink;
}

.Search {
    position: fixed;
    top: 2px;
    right: 40px;
}

.SearchButton {
    top: 2px;
    position: fixed;
    right: 0px;
    color: #c91b1b;
    background-color: rgb(147, 216, 193);
    border-radius: 10%;
}