:root {
    font-size: 12;
    color: hotpink;
    background-color: #120914;
    width: auto;
    margin: 20px;
    --highlighter: #33173a;
    --emphasis_font: #f37272;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif, serif;
}

h1 {
    font-size: 50px;
    color: var(--emphasis_font);
    border-bottom: 5px #7ad3fc dotted;
    text-shadow: 2px 3px 2px #582263;
}

h2 {
    margin-top: 2em;
}

hr {
    color: var(--emphasis_font);
}

.profile-image {
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    box-shadow: 0 10px 10px #4d2058, 0 6px 6px var(--highlighter);
}

.cleared {
    clear: left;
}

.socials {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
    column-gap: 10px; */
    display: flex;
    gap: 1rem;
}

.boxContainer {
    border-radius: 10px;
    background-color: #120914;
    box-shadow: 0 10px 20px var(--highlighter), 0 6px 6px var(--highlighter);
    display: flex;
    width: fit-content;
}
#navbar {
    position: sticky;
    top: 0px;
    left: 0px;

    width: 100%;
    background-color: #000000;
}

nav ul {
    margin: 2px;
    padding: 1em 2em 1em 4em;
}

nav li {
    display: inline;
    margin-right: 20px;
}
a:link, a:visited {
    color: rgb(170, 121, 219);
    font-weight: bold;
}

a:hover {
    color:hotpink;
    text-decoration: none;
}

.logo {
    font-size: 3em;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
    font-weight: 600;
}


dt{
    background-color: hotpink;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(99, 27, 172);
}

ul {
    list-style-type: none;
}



@media screen and (min-width: 45em) {
    .languages {
        display: flex;
    }
    .languages li{
        padding: 0.5em 1em;
    }
    nav li {
        display: inline;
        margin: 1em 3.5em;
    }
}

@media screen and (min-width: 70em) {
    nav li {
        display: inline;
        margin: 1em 5em;
    }
}

.foot {
    padding: 15px;
    border-top: solid var(--emphasis_font) 2px;
}