:root {
    font-size: 12;
    color: hotpink;
    background-color: #120914;
    width: auto;
    margin: 20px;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif, serif;
}

h1 {
    font-size: 50px;
    color: #f37272;
    border-bottom: 5px #7ad3fc dotted;
}

h2 {
    margin-top: 2em;
}

hr {
    color: #f37272;
}

.profile-image {
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.cleared {
    clear: left;
}

.socials {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-column: 2;
    column-gap: 10px;
}

.boxContainer {
    border-radius: 10px;
    background-color: #120914;
    box-shadow: 0 10px 20px #33173a, 0 6px 6px #33173a;
    display: flex;
    width: fit-content;
}
#navbar {
    position: sticky;
    top: 0px;
    left: 0px;

    width: 100%;
    background-color: #000000;
}

nav ul {
    margin: 2px;
    padding: 5px 0px 5px 30px;
}

nav li {
    display: inline;
    margin-right: 20px;
}
a:link, a:visited {
    color: rgb(170, 121, 219);
    font-weight: bold;
}

a:hover {
    color:hotpink;
    text-decoration: none;
}

.logo {
    font-size: 3em;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
    font-weight: 600;
}


dt{
    background-color: hotpink;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(99, 27, 172);
}

ul {
    list-style-type: none;
}



@media screen and (min-width: 40em) {
    .languages {
        display: flex;
    }
    .languages li{
        padding: 0.5em 1em;
    }
}

@media screen and (min-width: 70em) {

}