h1 {
    font-family: "Playfair Display", sans-serif;
}

p {
    font-family: 'Lora', sans-serif;
}
em {
    font-family: 'Lora', serif;
}

.profile-image {
    border-radius: 50%;
}

button {
    border-radius: 5px;
}